<ion-view style="background-image: url('./img/background.png')">
    <div ng-if="loadLogin">
        <form ng-submit="login(user,pw,ip, enableHTTPS)">

            <div class="list card" style="background:none;">
                <div class="item item-avatar" style="background:none;">
                    <img src="./img/icon.png" style="top:38px;background:white;">
                        <h1 style="color:white;">SMARTRoom</h1>
                </div>

                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="user" ng-keyup="clearValidation()">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="pw" ng-keyup="clearValidation()">
                </label>
                <label class="item item-input">
                    <span class="input-label">URL</span>
                    <input type="text" ng-model="ip" ng-keyup="clearValidation()">
                </label>
                <ion-toggle ng-model="enableHTTPS.checked" toggle-class="toggle-calm">
                  Enable HTTPS
                </ion-toggle>
              <label class="item item-input-inset">
                <button type="submit" ng-disabled="!user || !pw || !ip || logginState"
                        class="button icon-left ion-log-in item-input-wrapper">
                  Log In
                </button>
              </label>
            </div>
          <div class="list list-inset" ng-show="validation.msg">
            <label class="item item-input " ng-class="validation.col">
              {{validation.msg}}
            </label>
          </div>
        </form>
    </div>
</ion-view>
